<div class="container">
  <div class="page-header">
    <h1>About app</h1>

  </div>
  <ul>
   
  
  <li>Right now my fb app doest not have right to access user activitie. To get it i have submitted my app to facebook
    team for review </li>


  <li>So right now when you logged in through facebook then i have your user id and access token. But that access token
    doest not have rights to access your profile</li>

  <li>Once facebook approve the rights we can have user feed when they aloow to access</li>

  <li>For testing purpose please generate your uid and access token
    from    <a href="https://developers.facebook.com/tools/explorer/145634995501895/?method=GET&path=me%3Ffields%3Did%2Cname&version=v2.0">here</a></li>

  <li>Click on get access token and mark "user_activities" and get token</li>

  <li>On that page submit button is there, submit the page and get your uid</li>

  <li>Enter your uid and access token <a href="/welcome/add"> here </a>

  <li> You will find your strong connection :) </li>

  <li> For any query you can contact me </li>

  <li>Email : akashnavapara@gmail.com</li>

  <li>Mobile : +91-9429583088</li>
  </ul>
</div>