<div xmlns="http://www.w3.org/1999/html">
  <form action="/welcome/parse" method="get">
    User Id : <input type="text" name = "uid"> </input>
    Access Token : <input type="text" name = "accessToken"> </input>
    <input type="submit" value = "Submit"/>
  </form>
</div>