<div class="container">
  <div class="page-header">
    <h1>Contact details</h1>

  </div>
  <p>For any query reach out to me </p>
  <p>Email : akashnavapara@gmail.com</p>
  <p>Mobile : +91-9429583088</p>
</div>