<div class="row">
  <div class="span4" style="margin-left: 99px;">
    <h2 style="font-size: 24.5px;">Enter with access token</h2>

    <p>Go to link and generate your access token and go to below link</p>

    <p><a class="btn btn-sm btn-default" href="/welcome/add">Click here »</a></p>
  </div>
  <div class="span4" style="margin-left: 434px;">
    <h2 style="font-size: 24.5px;">Enter with facebook app</h2>

    <p>If your facebook app has enough rights to access information then log in with facebook</p>

    <p><a class="btn btn-sm btn-default" href="/auth/facebook/setup">LogIn with Facebook »</a></p>
  </div>
</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-left: 81px;">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">

    <div class="item active">
      <img  style="width: 1126px" alt="Second slide" src="assets/cheatsheet.png">
    </div>

  </div>
</div>



